## Import Relevant Libraries for Accessing and Utilizing the Yelp API

In [462]:
import numpy as np
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import json

Read in json file with personal api key

In [463]:
with open('yelp_api.json', 'r') as f:
    keys = json.loads(f.read())

Import Yelp client

In [464]:
from yelp.client import Client

In [465]:
API_KEY = keys["key"] #  Replace this with your real API key

## Set up Paremeters to Collect Businesses in Safety/Security Lifeline
    * This is done by applying appropriate business categories in the search parameters
    * All of the Yelp category labels can be found here:
        - https://www.yelp.com/developers/documentation/v3/all_category_list
    * The relevant category labels for the first lifeline are:
        - firedepartments
        - policedepartments
    * We are also entering other parameters:
        - Setting limit to 50 which is the max amount of businesses we can return in one
          search
        - Setting the radius to the max of 40,000 meters (25 miles)
        - Picking a city to do the search in (this can also be done with state or zip code)

In [466]:
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['firedepartments', 'policedepartments'],
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

Set the businesses our search will return to a variable, and check to make sure the hit on the API was successful.  If our status code is a 200, we are good to go.  If a 400 or 500 value is returned there was something wrong.  400 is user error, 500 is on Yelp's end.

In [467]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

Set the result to a json file so that we can easily read through it and grab relevant information for our dataframe.

In [468]:
business = res.json()

Check to see how many businesses we returned.  If the number is 50, there may be more and we will run the search code again and add a 'offset': '50' parameter to grab the next set of 50 businesses.  In this case we won't have to do that because there are less than 50 police and fire departments in Miami.

In [469]:
#index into business with the label ['businesses'] which is where each set of information we 
#want is located
len(business['businesses'])

8

## Create a for loop to Extract the Name and Category of Each Business

In [470]:
names = []       #assign an empty list to a variable to be populated with business names
categories = []  #do the same thing for the business categories

for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

## Create a Dataframe for the Lifeline 1 Businesses
    
    *Columns will be Business, Category, and Lifeline

In [471]:
safety_df = pd.DataFrame(columns=['Business', 'Category'])
safety_df['Business'] = names
safety_df['Category'] = categories
safety_df['Lifeline'] = 1

In [472]:
safety_df.head()

                              Business           Category  Lifeline
0  Miami Dade Police - Kendall Station  policedepartments         1
1              Miami Police Department  policedepartments         1
2                    MDPD Headquarters  policedepartments         1
3                    Miami-Dade Police  policedepartments         1
4            Miami Dade Fire Rescue HQ    firedepartments         1

## Repeat This Process for the Other Six Lifelines

    * Notice for some lifelines (3 and 4) we have to run the code multiple times using 
      offset since there are more than 50 businesses in those categories

## Lifeline 2 - Food, Water, Shelter

In [473]:
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['foodbanks',
                            'animalshelters',
                            'homelessshelters',
                            'communitycenters'],
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [474]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [475]:
business = res.json()
len(business['businesses'])

9

In [476]:
names = []
categories = []
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [477]:
food_shelter_df = pd.DataFrame(columns=['Business', 'Category'])
food_shelter_df['Business'] = names
food_shelter_df['Category'] = categories
food_shelter_df['Lifeline'] = 2
food_shelter_df.head()

                                  Business          Category  Lifeline
0  Animal Welfare Society of South Florida               vet         2
1                          The Cat Network    animalshelters         2
2        Miami Dade County Animal Services    animalshelters         2
3                 Compassionate Pug Rescue    animalshelters         2
4              Miccosukee Tribe of Indians  communitycenters         2

## Lifeline 3 - Health and Medical

In [478]:
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['emergencymedicine',
                            'emergencyrooms',
                            'hospitals',
                            'medcenters'],
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [479]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In this case the length of the first batch of businesses returned is 50 so we will run the above code again with the offset parameter as well as the for loop

In [480]:
business = res.json()
len(business['businesses'])

50

In [481]:
names = []
categories = []
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [482]:
#adding the offset parameter 
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['emergencymedicine',
                            'emergencyrooms',
                            'hospitals',
                            'medcenters'],
             'offset': 50,
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

50 more were returned which means we will have to repeat the process a third time

In [483]:
business = res.json()
len(business['businesses'])

50

In [484]:
#do the for loop again but do not set the names and categories to an empty list this time
#because it would overwrite the first 50 businesses
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [485]:
#make sure we now have 100 entries in our names list
len(names)

100

Set the offset to 100 this time so we return businesses starting with the 101st in the search

In [486]:
#offset now set to 100
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['emergencymedicine',
                            'emergencyrooms',
                            'hospitals',
                            'medcenters'],
             'offset': 100,
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [487]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

We still get fifty businesses here, so we repeat the process until this number is less than 50

In [488]:
business = res.json()
len(business['businesses'])

50

In [489]:
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [490]:
len(names)

150

In [491]:
#offset now set to 150
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['emergencymedicine',
                            'emergencyrooms',
                            'hospitals',
                            'medcenters'],
             'offset': 150,
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [492]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [493]:
len(business['businesses'])

50

In [494]:
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [495]:
#offset now set to 200
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['emergencymedicine',
                            'emergencyrooms',
                            'hospitals',
                            'medcenters'],
             'offset': 200,
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [496]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [497]:
len(business['businesses'])

50

In [498]:
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [499]:
len(names)

250

In [500]:
#offset now set to 250
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['emergencymedicine',
                            'emergencyrooms',
                            'hospitals',
                            'medcenters'],
             'offset': 250,
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [501]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [502]:
len(business['businesses'])

50

In [503]:
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [504]:
len(names)

300

In [505]:
#offset now set to 300
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['emergencymedicine',
                            'emergencyrooms',
                            'hospitals',
                            'medcenters'],
             'offset': 300,
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [506]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [507]:
business = res.json()
len(business['businesses'])

0

In [508]:
len(names)

300

In [509]:
health_med_df = pd.DataFrame(columns=['Business', 'Category'])
health_med_df['Business'] = names
health_med_df['Category'] = categories
health_med_df['Lifeline'] = 3
health_med_df.head()

                                   Business    Category  Lifeline
0  Animal Emergency Clinic of South Florida         vet         3
1              Nicklaus Children's Hospital   hospitals         3
2                  The Miami Medical Center  medcenters         3
3                          Baptist Hospital  medcenters         3
4              University of Miami Hospital  medcenters         3

## Lifeline 4 - Energy (Power and Fuel)

In [510]:
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['fueldocks',
                            'servicestations',
                            'utilities',
                            'electricitysuppliers',
                            'naturalgassuppliers',
                            'watersuppliers'],
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [511]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [512]:
business = res.json()
len(business['businesses'])

50

In [513]:
names = []
categories = []
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [514]:
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['fueldocks',
                            'servicestations',
                            'utilities',
                            'electricitysuppliers',
                            'naturalgassuppliers',
                            'watersuppliers'],
             'offset': 50,
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [515]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [516]:
business = res.json()
len(business['businesses'])

50

In [517]:
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [518]:
len(names)

100

In [519]:
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['fueldocks',
                            'servicestations',
                            'utilities',
                            'electricitysuppliers',
                            'naturalgassuppliers',
                            'watersuppliers'],
             'offset': 100,
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [520]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [521]:
business = res.json()
len(business['businesses'])

50

In [522]:
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [523]:
len(names)

150

In [524]:
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['fueldocks',
                            'servicestations',
                            'utilities',
                            'electricitysuppliers',
                            'naturalgassuppliers',
                            'watersuppliers'],
             'offset': 150,
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [525]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [526]:
business = res.json()
len(business['businesses'])

50

In [527]:
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [528]:
len(names)

200

In [529]:
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['fueldocks',
                            'servicestations',
                            'utilities',
                            'electricitysuppliers',
                            'naturalgassuppliers',
                            'watersuppliers'],
             'offset': 200,
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [530]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [531]:
business = res.json()
len(business['businesses'])

12

In [532]:
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [533]:
len(names)

212

In [534]:
energy_df = pd.DataFrame(columns=['Business', 'Category'])
energy_df['Business'] = names
energy_df['Category'] = categories
energy_df['Lifeline'] = 4
energy_df.head()

                   Business         Category  Lifeline
0  Europa Car Wash and Café  servicestations         4
1          Coral Gate Mobil  servicestations         4
2                    Westar  servicestations         4
3           Costco Gasoline  servicestations         4
4            Viñales Valero  servicestations         4

## Lifeline 5 - Communication

In [535]:
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['telecommunications',
                            'printmedia',
                            'radiostations',
                            'televisionstations'],
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [536]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [537]:
business = res.json()
len(business['businesses'])

50

In [538]:
names = []
categories = []
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [539]:
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['telecommunications',
                            'printmedia',
                            'radiostations',
                            'televisionstations'],
             'offset': 50,
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [540]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [541]:
business = res.json()
len(business['businesses'])

7

In [542]:
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [543]:
len(names)

57

In [544]:
communication_df = pd.DataFrame(columns=['Business', 'Category'])
communication_df['Business'] = names
communication_df['Category'] = categories
communication_df['Lifeline'] = 5
communication_df.head()

                  Business            Category  Lifeline
0             WLRN 91.3 FM       radiostations         5
1                ActivePBX  telecommunications         5
2  Streamline Voice & Data  telecommunications         5
3          Miami New Times          printmedia         5
4             WVUM 90.5 FM       radiostations         5

## Lifeline 6 - Transportation

In [545]:
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['airlines',
                            'busstations',
                            'ferries',
                            'metrostations',
                            'publictransport',
                            'trains',
                            'taxis'],
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [546]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [547]:
business = res.json()
len(business['businesses'])

50

In [548]:
names = []
categories = []
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [549]:
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['airlines',
                            'busstations',
                            'ferries',
                            'metrostations',
                            'publictransport',
                            'trains',
                            'taxis'],
             'offset': 50,
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [550]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [551]:
business = res.json()
len(business['businesses'])

50

In [552]:
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [553]:
len(names)

100

In [554]:
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['airlines',
                            'busstations',
                            'ferries',
                            'metrostations',
                            'publictransport',
                            'trains',
                            'taxis'],
             'offset': 100,
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [555]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [556]:
business = res.json()
len(business['businesses'])

14

In [557]:
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [558]:
len(names)

114

In [559]:
transportation_df = pd.DataFrame(columns=['Business', 'Category'])
transportation_df['Business'] = names
transportation_df['Category'] = categories
transportation_df['Lifeline'] = 6
transportation_df.head()

                  Business         Category  Lifeline
0               Brightline           trains         6
1  Airport Flyer Route 150  publictransport         6
2               Metromover  publictransport         6
3                     Uber            taxis         6
4        American Airlines         airlines         6

## Lifeline 7 - Hazardous Waste

In [560]:
endpoint = 'https://api.yelp.com/v3/businesses/search'
headers = {'Authorization': 'bearer %s' % API_KEY}
parameter = {'categories': ['biohazardcleanup', 'hazardouswastedisposal'],
             'limit': 50,
             'radius': 40000,
             'location': 'Miami',
            }

In [561]:
res = requests.get(url=endpoint, headers=headers, params=parameter)
res.status_code

200

In [562]:
business = res.json()
len(business['businesses'])

5

In [563]:
names = []
categories = []
for i in range(len(business['businesses'])):        
    names.append(business['businesses'][i]['name'])
    categories.append(business['businesses'][i]['categories'][0]['alias'])

In [564]:
len(names)

5

In [565]:
waste_df = pd.DataFrame(columns=['Business', 'Category'])
waste_df['Business'] = names
waste_df['Category'] = categories
waste_df['Lifeline'] = 7
waste_df.head()

                        Business                Category  Lifeline
0      United Medical Industries  hazardouswastedisposal         7
1          Medical Waste Experts  hazardouswastedisposal         7
2  Raider Environmental Services  hazardouswastedisposal         7
3          ServiceMaster by Reed       damagerestoration         7
4             Aftermath Services       damagerestoration         7

## Put All of the Lifeline Businesses Together Into One Dataframe

In [566]:
miami_df = pd.concat([safety_df,
                      food_shelter_df,
                      health_med_df,
                      energy_df,
                      communication_df,
                      transportation_df,
                      waste_df], axis=0)

In [568]:
miami_df.shape

(705, 3)